<head>
  <title="注册界面">
  </title>
</head>
<form action="/signup" method="post">
Username:<input type="text" name="username" placeholder='input your username here...'>
<br>
Password:<input type="password" name="password" placeholder='input your password here...'>
<br>
Password Confim:<input type="password" name="password_confirmation" placeholder='repeat your password here...'>
<br>


<input type="submit" value="Signup">
</form>
